@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Parágrafos */
#paragrafos {
    width: 100%;
    padding: 50px;
}

#paragrafos-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#items {
    width: 650px;
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
}

form .button{
    height: 45px;
    margin: 35px 0;
  }
  
  form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;  
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #727679, #040005);
  }
  form .button input:hover{
   background: linear-gradient(-135deg, #fbf6fc, #383737);
   color: #040005;
   } 
